doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title My Paint
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet")
    style
        include css/style.css

  body
    nav.navbar
            h2 Hello MyPaint
    .container-fluid
        .row
          .col-xs-10.col-xs-offset-1
            .col-sm-2.col-xs-12
                h2 Tools
                #accordion.panel-group( role="tablist" aria-multiselectable="true")
                    .panel.panel-default
                        .panel-heading(role="tab" id="headingOne")
                            h4.panel-title
                                a#pencil(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 画笔
                        #collapseOne.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="headingOne")
                            .panel-body#graphic
                                button#line.btn.btn-default.col-xs-3.col-sm-6 直线
                                button#rect.btn.btn-default.col-xs-3.col-sm-6 矩形
                                button#circle.btn.btn-default.col-xs-3.col-sm-6 圆形
                                button#triangle.btn.btn-default.col-xs-3.col-sm-6 三角形
                    .panel.panel-default
                        .panel-heading(role="tab" id="headingTwo")
                            h4.panel-title
                                a#word.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") 文字
                        #collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
                            .panel-body
                                .btn-group.btn-group-justified
                                    .btn-group
                                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") 字号
                                            span.caret
                                        ul#fontsize.dropdown-menu
                                            -for(var i=8;i<=36;i+=2){
                                            li
                                                a(id=i+'px' href='#')=i+'px'
                                            -}
                                .btn-group.btn-group-justified
                                    .btn-group
                                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") 字体
                                            span.caret
                                        ul#fontfamily.dropdown-menu
                                            each val in ['宋体','微软雅黑','仿宋','Arial','Consolas','Monaco']
                                                li
                                                    a(id=val href='#')=val
                                button#bold.btn.btn-default.col-xs-6.col-md-6 加粗
                                button#italic.btn.btn-default.col-xs-6.col-md-6 斜体
                    .panel.panel-default
                        .panel-heading(role="tab" id="headingThree")
                            h4.panel-title
                                a#eraser.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree") 橡皮擦
                    .panel.panel-default
                        .panel-heading(role="tab" id="headingFour")
                            h4.panel-title
                                a#trash.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour") 清除
            .col-md-10.col-xs-12
                .row
                    .col-xs-12
                        #color
                    #board.col-xs-12

    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/zz.js")
.col-xs-6.col-sm-12
